/* Add some styling to the page */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #734444;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.product {
  background-color: whitesmoke;
  width: 20%;
  border: 1px solid black;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px gray;
}
.product img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.product h3 {
  margin: 10px;
  text-align: center;
}
.product p {
  margin: 10px;
  font-size: 14px;
  text-align: center;
}
.product button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  background-color: #c37857;
  border: none;
  cursor: pointer;
}
.product button:hover {
  background-color: #99b27f;
  color: white;
}

.my-cart {
  font-size: larger;
  font-weight: bold;

  justify-content: center;

  align-items: center;
  text-align: center;
}
.logocart2 {
  width: 4rem;
  margin-top: 14px;
}
.item {
  display: inline-block;
  width: 25%;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
}

.item-name,
.item-price,
.item-quantity {
  display: block;
  margin: 10px;
}

.squircle {
  width: 200px;
  height: 125px;
  border-radius: 10px;
  margin-top: 1rem;
  background-color: #c37857;

  word-spacing: 1px;
}

.cart-content {
  background-color: white;
  margin-top: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  width: 100%;
  align-items: center;
  text-align: center;
}

.item-content {
  display: flex;

  justify-content: center;
  align-items: center;
}

.item {
  width: 100%;
}

.result-item {
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  margin-right: 20vw;
}

.delivery-option {
  display: flex;
  flex-direction: column;
}

.confirm {
  margin: 15px;
  padding: 10px;
  background-color: #734444;
  color: aliceblue;
  border-radius: 3px;
  transition-duration: 0.4s;
}

.confirm:hover {
  background-color: #c37857;
  border-radius: 3px;
  color: white;
}

@media screen and (max-width: 800px) {
  .slider{
    height: 65vw;
  }

  .slide{
    height: 65vw;
  }
}