* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #734444;
  display: flex;
  flex-direction: column;
}

/* Content CSS */
.title {
  color: #eeedbe;
  margin: 1rem;
  text-align: center;
  text-shadow: 0 0 6px rgb(0, 0, 0);
}

.container {
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-left {
  background-color: #eeedbe;
  border: 2px solid black;
  box-shadow: 0 0 6px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
}

.container-left img {
  border-radius: 5px;
  width: 15vw;
}

.container-left button {
  margin-top: 15px;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 2px solid #99b27f;
}

.container-left button:hover {
  margin-top: 15px;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 2px solid #99b27f;
  box-shadow: 0 0 6px rgb(0, 0, 0);
}

.container-right {
  background-color: #eeedbe;
  border: 2px solid black;
  box-shadow: 0 0 6px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  width: 23%;
}

.edit {
  text-decoration: none;
}

.cont-title {
  margin: 5px 0px;
}

.data {
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.5vh 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.con {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .container-left {
    width: 100%;
  }

  .container-left img {
    width: 100%;
  }

  .container-right {
    width: 100%;
  }

  .con p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
