* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #734444;
}

/* NavBar CSS */

header {
  padding: 10px;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerkiri {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.headerkiri a {
  color: black;
  font-size: 25px;
  text-decoration: none;
  padding-left: 3vw;
}

.headerkiri a:hover {
  opacity: 60%;
  font-size: 20px;
}

.navigate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 8rem;
}

.logocart {
  width: 3rem;
  padding-left: 50vw;
  padding-right: 1.5rem;
}

/* Content CSS */
.container {
  background-color: #eeedbe;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

.container-left {
  margin: 1rem;
  margin-right: 2rem;
}

.container-left img {
  border-radius: 5px;
}

.container-right {
  margin: 1rem;
  margin-left: 2rem;
}
